
h1 {
	
	color: black;
	font-family: Papyrus;
}
table {
	border: 1px solid silver;
}
		
td:hover{
	background-color: red ;
	color: black ;
}
tr,th {
	background-color: black ;
	color: cornsilk;
	font-family: Papyrus;
}

tr, td {
	background-color: navy ;
	color: white;
	
}